*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
/*index.html styles*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 33px;
}
.Brebeuf{
    font-size: 21px;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.25s;
}
.links ul li:hover::after{
    width: 100%;
}
.container{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container h1{
    font-size:90px;
}
.container p{
    margin: 10px 0px 40px;
    font-size: 21px;
    color:rgb(0, 0, 0);
}
/*section styles*/
.section{
    width:70%;
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.section h2{
    font-size: 50px;
}
.section p{
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 17px;
    color: white;
}
.rectangle{
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  width: 70%;
  padding: 10px;
  height: 400px;
  width: 700px;
  background-color: #2E2C29;
}
.rectangle p{
  font-size: 17px;
  color: white;
}
